.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.login-submit {
  margin-top: 10px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 30px;
}

.contact-item {
  display: flex;
  list-style: none;
  padding: 10px;
  border: 1px solid rgb(62, 63, 58);
  border-radius: 10px;
  background: #e9f4ff;
}

.contact-data {
  margin-right: auto;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background: #5b7888;
  color: white;
  border: none;
}

.contact-delete {
  margin-left: 20px;
}

.contact-edit {
  margin-left: 10px;
}

.contact-item:not(:last-child) {
  margin-bottom: 10px;
}

.message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-block {
  margin-bottom: 20px;
}

.search-block-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(116, 114, 114, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form {
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.create-container{
  margin-bottom: 20px;
}